doctype html

html
  head
    title Form Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method='POST' action='/report')
      ul
        li
          label County
          select(type="select" name="county" placeholder="County")
            option(value='alameda') Alameda
        li
          label Household Size
          input(type="number" name="household_size" placeholder="Household Size")
        li
          label Net Income
          input(type="number" name="net_income" placeholder="Net Income")
        li
          label Gross Income
          input(type="number" name="gross_income" placeholder="Gross Income")

          input(type='hidden' name='guaranteed_income' value=0)

        button(class=buttonClass type="submit") Submit!
