doctype html
html
  head
    title Report Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Report Page
    h3= 'Household Size: ' + input.household_size
    h3= 'Net Monthly Income: $' + input.net_income
    h3= 'Gross Monthly Income: $' + input.gross_income
    block content
    if program_info.cal_fresh
      h2 Cal Fresh Information
      if input.net_income < program_info.cal_fresh.max_net_income
        h3 Eligibility: Eligible
        h3= 'Max Monthly Allotment: $' + program_info.cal_fresh.max_allotment
      else
        h3 Eligibility: Not Eligible
