<section class="d-flex align-items-center">
  <div class="container-sm mt-5 ">

    <div class="d-flex justify-content-center">

      <input type='hidden'>

      <form action="/form/children" method="post">

        <div class="card text" style="width: 30rem;">
          <div class="card-header">
          Child Dependents
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="num_pregnant">If one of the adults is pregnant, how many babies are
                <br>expected during this pregnancy?</label>
              <input type="number" class="form-control" name="num_pregnant" id="num_pregnant" placeholder="Expecting">
              <small> Enter 0 if no adult in the household is pregnant </small>
            </div>

            <div class="form-group mt-3">
              <label for="num_todlers">How many children below the age of 1 do you have?</label>
              <input type="number" class="form-control" name="num_pregnant" id="num_pregnant" placeholder="Expecting">
              <small> Enter 0 if no adult in the household is pregnant </small>
            </div>


            <div class="d-flex justify-content-between">
              <button type="submit" formaction="/form/income" class="btn btn-primary mt-3">Back
              <button type="submit" class="btn btn-primary mt-3">Next
            </div>
          </div>

          <div class="card-footer text-muted text-center">
            Page 3/5
          </div>

      </form>
    </div>



  </div>
</section>
