<section class="d-flex align-items-center">
  <div class="container-sm mt-5 ">

    <div class="d-flex justify-content-center">

      <input type='hidden'>

      <form action="/form/children_dependents" method="post">

        <div class="card text" style="width: 30rem;">
          <div class="card-header">
          Income
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="gross_income">What is your Monthly Income?</label>
              <input type="number" class="form-control" name="gross_income" id="gross_income" placeholder="Gross Monthly Income">
              <small> Money made from both spouses before taxes and deductions</small>
            </div>

            <div class="form-group mt-3">
              <label for="gross_income">Other Monies</label>
              <input type="number" class="form-control" name="gross_income" id="gross_income" placeholder="Gross Monthly Income">
              <small> We can be more specific about this </small>
            </div>


            <div class="d-flex justify-content-between">
              <button type="submit" formaction="/form/init" class="btn btn-primary mt-3">Back
              <button type="submit" class="btn btn-primary mt-3">Next
            </div>
          </div>
          <div class="card-footer text-muted text-center">
            Page 2/5
          </div>

      </form>
    </div>



  </div>
</section>
