<section class="d-flex align-items-center">
  <div class="container-sm mt-5 ">

    <div class="d-flex justify-content-center">

      <form action="/form/init" method="post">

        <!-- Inititialize All Inputs -->
        <input type="hidden" id="county" value="None">
        <input type="hidden" id="married" value="None">
        <input type="hidden" id="num_children" value="None">
        <input type="hidden" id="gross_income" value="None">
        <input type="hidden" id="gross_income" value="None">
        <input type="hidden" id="gross_income" value="None">




        <div class="card text-center" style="width: 30rem;">
          <div class="card-header">
            Economic Stability Tool
          </div>
          <div class="card-body">
            <h5 class="card-title">Before you begin!</h5>
            <p class="card-text">
              You will be asked a series of questions to determine your potential...
              <br> yada yada yada ... <br>
              Answer the following questions as accurately as you can.</p>
            <button type="submit" class="btn btn-success">Begin</a>
          </div>


        </div>

      </form>
    </div>



  </div>
</section>
