<section class="d-flex align-items-center">
  <div class="container-sm mt-5 ">

    <div class="d-flex justify-content-center">

      <form action="/form/init" method="post">

        <!-- Inititialize All Inputs -->
        <input type="hidden" name="county">
        <input type="hidden" name="married">
        <input type="hidden" name="gross_income">
        <input type="hidden" name="other_income">
        <input type="hidden" name="num_pregnant">
        <input type="hidden" name="num_children_under_1">
        <input type="hidden" name="num_children_under_6">
        <input type="hidden" name="num_children_under_18">
        <input type="hidden" name="other_dependents">
        <input type="hidden" name="other_dependent_income">
        <input type="hidden" name="food">
        <input type="hidden" name="healthcare">
        <input type="hidden" name="rent">
        <input type="hidden" name="childcare">
        <input type="hidden" name="transportation">



        <div class="card text-center" style="width: 30rem;">
          <div class="card-header">
            Economic Stability Tool
          </div>
          <div class="card-body">
            <h5 class="card-title">Before you begin!</h5>
            <p class="card-text">
              You will be asked a series of questions to determine your potential...
              <br> yada yada yada ... <br>
              Answer the following questions as accurately as you can.</p>
            <button type="submit" class="btn btn-success">Begin</a>
          </div>


        </div>

      </form>
    </div>



  </div>
</section>
